[submodule "vimit/subscription_auto_payment"]
	path = vimit/subscription_auto_payment
	url = git@github.com:vimit/subscription_auto_payment.git
	branch = master

[submodule "vimit/DrAnytime_interest_invoice"]
	path = vimit/DrAnytime_interest_invoice
	url = git@github.com:vimit/DrAnytime_interest_invoice.git
	branch = master
